@model Client

<h3>Client Details</h3>

<p class="lead">

    Manage client details

</p>

<div class="mb-3 row">

    <label for="clientName" class="col-sm-2 col-form-label">
        
        Name
        
    </label>

    <div class="col-sm-10">

        <input type="text" class="form-control-plaintext" value="@Model.Name" id="clientName">

    </div>

</div>

<div class="mb-3 row">

    <label for="clientSurname" class="col-sm-2 col-form-label">
        
        Surname
        
    </label>

    <div class="col-sm-10">

        <input type="text" class="form-control-plaintext" value="@Model.Surname" id="clientSurname">

    </div>

</div>

<div class="mb-3 row">

    <label for="clientEmail" class="col-sm-2 col-form-label">
        
        Email
        
    </label>

    <div class="col-sm-10">

        <input type="text" class="form-control-plaintext" value="@Model.Email" id="clientEmail">

    </div>

</div>

<div class="mb-3 row">

    <label for="clientContactNumber" class="col-sm-2 col-form-label">
        
        Contact Number
        
    </label>

    <div class="col-sm-10">

        <input type="text" class="form-control-plaintext" value="@Model.ContactNumber" id="clientContactNumber">

    </div>

</div>

<div class="mb-3 row">

    <label for="clientCompany" class="col-sm-2 col-form-label">
        
        Company
        
    </label>

    <div class="col-sm-10">

        <input type="text" class="form-control-plaintext" value="@Model.Company" id="clientCompany">

    </div>

</div>