@model Client

<h3>Client Details</h3>

<p class="lead">

    Manage client details

</p>

<form method="post" enctype="multipart/form-data"
    asp-controller="Clients"
    asp-action="Update">

    <input type="hidden" value="@Model.Id" name="Id" />

    <div class="mb-3 row">

        <label for="clientName" class="col-sm-2 col-form-label">
        
            Name
        
        </label>

        <div class="col-sm-10">

            <input type="text" class="form-control" value="@Model.Name" id="clientName" name="Name">

        </div>

    </div>

    <div class="mb-3 row">

        <label for="clientSurname" class="col-sm-2 col-form-label">
        
            Surname
        
        </label>

        <div class="col-sm-10">

            <input type="text" class="form-control" value="@Model.Surname" id="clientSurname" name="Surname">

        </div>

    </div>

    <div class="mb-3 row">

        <label for="clientEmail" class="col-sm-2 col-form-label">
        
            Email
        
        </label>

        <div class="col-sm-10">

            <input type="text" class="form-control" value="@Model.Email" id="clientEmail" name="Email">

        </div>

    </div>

    <div class="mb-3 row">

        <label for="clientContactNumber" class="col-sm-2 col-form-label">
        
            Contact Number
        
        </label>

        <div class="col-sm-10">

            <input type="text" class="form-control" value="@Model.ContactNumber" id="clientContactNumber" name="ContactNumber">

        </div>

    </div>

    <div class="mb-3 row">

        <label for="clientCompany" class="col-sm-2 col-form-label">
        
            Company
        
        </label>

        <div class="col-sm-10">

            <input type="text" class="form-control" value="@Model.Company" id="clientCompany" name="Company">

        </div>

    </div>

    <div class="mb-3 row">

        <div class="col-sm-6">

            <a class="btn btn-outline-secondary float-end"
                asp-controller="Clients"
                asp-action="Index">
            
                Back

            </a>

        </div>

        <div class="col-sm-6">

            @*<a class="btn btn-outline-primary me-auto"
                asp-controller="Clients"
                asp-action="Update">
            
                Update

            </a>*@

            <button class="btn btn-outline-primary me-auto" type="submit">
            
                Update

            </button>

        </div>

    </div>

</form>